<div class="container h-100">
  <div class="row mt-5">
    <div class="col-lg-12 text-right h3">
        <i  *ngIf= "notification" class="bi bi-bell-fill text-danger notifications cursor-pointer" (click)="goToNotifications()" data-toggle="tooltip" data-placement="top" title="Notifications"></i>
        <i  *ngIf= "!notification" class="bi bi-bell text-danger notifications cursor-pointer" (click)="goToNotifications()" data-toggle="tooltip" data-placement="top" title="Notifications"></i>
        <i  *ngIf= "notificationsSubscribedThemes" class="bi bi-chat-right-dots-fill ml-2 text-danger cursor-pointer " (click)="goToThemeSubscribeNotifications()" data-toggle="tooltip" data-placement="top" title="Subscribed themes"></i>
        <i  *ngIf= "!notificationsSubscribedThemes" class="bi bi-chat-right-dots ml-2 text-danger cursor-pointer" (click)="goToThemeSubscribeNotifications()" data-toggle="tooltip" data-placement="top" title="Subscribed themes"></i>
    </div>
  </div>
  <div class="row mt-4" *ngIf="user">
    <div class="col-12 text-center">
      <h3>Welcome back {{ user.name }}</h3>
    </div>
  </div>


  <div class="row justify-content-around mt-5">
    <div class="col-4">
      <app-welcome-card
        text="Public Writings"
        color="bg-success"
        routerLink="/themes/public/themes"
      >
      </app-welcome-card>
    </div>

    <div class="col-4">
      <app-welcome-card
        text="Personal Diaries"
        color="bg-warning"
        routerLink="/themes"
      >
      </app-welcome-card>
    </div>

    <div class="col-4">
      <app-welcome-card
        text="Habits"
        color="bg-danger"
        routerLink="/habits"
      >
      </app-welcome-card>
    </div>
  </div>
</div>


