<div class="container h-100">
  <div class="row mt-4" *ngIf="user">
    <div class="col-12 text-center">
      <h3>Welcome back {{ user.name }}</h3>
    </div>
  </div>


  <div class="row justify-content-around mt-5">
    <div class="col-4">
      <app-welcome-card
        text="Public Writings"
        color="bg-success"
      >
      </app-welcome-card>
    </div>

    <div class="col-4">
      <app-welcome-card
        text="Personal Diaries"
        color="bg-warning"
        routerLink="/themes"
      >
      </app-welcome-card>
    </div>

    <div class="col-4">
      <app-welcome-card
        text="Habits"
        color="bg-danger"
        routerLink="/habits"
      >
      </app-welcome-card>
    </div>
  </div>
</div>


