<div class="container-fluid background h-100">
  <div class="row">
    <div class="col-12">
      <div class="container">

        <div class="row mt-4">
          <div class="col-12 text-center">
            <h1 class="d-inline" *ngIf="themeId">Edit theme</h1>
            <h1 class="d-inline" *ngIf="!themeId">Create theme</h1>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="formActive">
              <div class="row mb-4">
                <div class="col-6">
                  <input type="text"
                         [ngClass]="{'form-control': true, 'bg-transparent': true, 'is-invalid': form.controls.title.invalid && form.controls.title.touched}"
                         id="email"
                         formControlName="title"
                         placeholder="Title"
                  >
                  <div class="invalid-feedback">
                    Title is required
                  </div>
                </div>
                <div class="col-6">
                  <input type="date"
                         [ngClass]="{'form-control': true, 'bg-transparent': true, 'is-invalid': form.controls.date.invalid && form.controls.date.touched}"
                         id="date"
                         formControlName="date">
                  <div class="invalid-feedback">
                    Title is required
                  </div>
                </div>
              </div>

              <div class="row mb-4 flex-row align-items-end">
                <div class="col-9">
                  <ng-multiselect-dropdown
                    formControlName = "selectTags"
                    [settings]="tagDropdownSettings"
                    (onSelect)="tagSelected($event)"
                    (onDeSelect)="tagDeSelected($event)"
                    placeholder="Tags"
                    id="multiselectDropdown"
                  >

                  </ng-multiselect-dropdown>
                </div>
                <div class="col-3">
                  <label for="reminder">Reminder</label>
                  <select class="form-select w-100" id="reminder" formControlName="reminder">
                    <option value="never">Never</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="every-month">Every month</option>
                    <option value="every-third-month">Every third month</option>
                    <option value="every-six-months">Every six months</option>
                    <option value="yearly">Yearly</option>
                  </select>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-12">
                  <textarea type="text"
                            [ngClass]="{'form-control': true, 'is-invalid': form.controls.description.invalid && form.controls.description.touched}"
                            id="description"
                            formControlName="description"
                            placeholder="Description..."
                            style="opacity: 0.5"
                            rows="10"
                  ></textarea>
                  <div class="invalid-feedback">
                    Description is required
                  </div>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-6 text-right">
                  <button type="submit" class="button bg-light"><span *ngIf="themeId">Edit</span> <span *ngIf="!themeId">Create</span></button>
                </div>
                <div class="col-6 text-left">
                  <button type="submit" class="button bg-light" routerLink="/themes">Back </button>
                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

