<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-4">
                <div class="d-flex align-items-center">
                    <span class="h1 text-primary "> #THEMES </span>
                    <a class="btn btn-info ml-2 p-2 align-center" routerLink="/themes/create">
                        <i class="bi bi-plus-square mr-2"></i>
                        Add new
                    </a>
                </div>
        </div>
        <div class="col-lg-4 text-center d-flex align-items-center">
            <ng-multiselect-dropdown
                    [data]="tags"
                    [settings]="tagDropdownSettings"
                    (onSelect)="tagSelected($event)"
                    (onDeSelect)="tagDeSelected($event)"
                    placeholder="Filter by tags"
                    class="w-100"
                  >
            </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-3 text-center d-flex align-items-center mt-sm-2">
            <input type="text" class="form-control w-100" id="titleFilter" aria-describedby="title" placeholder="Filter by title" [ngModel]="titleFilter" (ngModelChange)="setTitleFilter($event)"> 
        </div>
        <div class="col-lg-1 text-center d-flex align-items-center mt-sm-2 justify-content-center" [ngStyle] = "{'border-bottom': filterOverdueThemesDate ? '2px solid black' : 'none'}">
            <div [ngStyle]="{'background-color': overdueThemes ? 'red' : 'white'}" class="rounded-circle btn" style="height: 1cm; width:1cm" (click)="getFilteredOverdueThemes()" data-toggle="tooltip" data-placement="top" title="Overdue themes">
                <i class="bi bi-clock rounded-circle text-center" [ngStyle] = "{ 'color': overdueThemes ? 'white' : 'black'}"></i>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-12">
            <div class="row" *ngIf= "loading == 0 && themes && themes.length > 0">
                <div class="col-lg-4" *ngFor = "let theme of themes | paginate: paginationConfig" >
                    <div class="card mt-5 btn">
                        <div class="d-flex justify-content-between">
                            {{ theme.title }}
                            <div class="buttons">
                                <a class="btn btn-primary" (click)="goToEditTheme(theme)">
                                    <i class="bi bi-pencil-square"></i>  
                                </a>
                                <a class="btn btn-danger ml-2 " data-toggle="modal" data-target="#deleteModal" (click)="setThemeForDelete(theme)">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a class="btn btn-info ml-2 " (click)="publishTheme(theme)">
                                    <i class="bi bi-cloud-download" *ngIf="theme.public"></i>
                                    <i class="bi bi-cloud-upload" *ngIf="!theme.public"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body" (click)="goToDetails(theme)">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <pagination-controls [id]="paginationConfig.id" (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
            </div>
            <p *ngIf="loading == 0 && themes && themes.length == 0" class="text-center">You don't have any themes yet</p>
            <div class="row justify-content-center mt-5" *ngIf="loading > 0">
                <div class="col-1">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true" *ngIf="themeForDelete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete theme</h5>
        </div>
        <div class="modal-body">
          {{ themeForDelete.public ? 'First unpublish theme' : 'Are you sure you want to delete this theme?'}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="onDeleteTheme()" data-dismiss="modal" [disabled]="themeForDelete.public">Delete</button>
        </div>
      </div>
    </div>
  </div>