/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Baloo Chettan 2', cursive !important; }

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

input {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

button {
  width: 190px;
  height: 27px;
  border-radius: 15px;
}

.cursor-pointer {
  cursor: pointer;
}
